<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AvocatUi"
        tools:targetApi="31">
        <activity
            android:name=".viewholderListofClientsOrAvocats"
            android:exported="false" />
        <activity
            android:name=".viewholderLawyerFindClient"
            android:exported="false" />
        <activity
            android:name=".sp"
            android:exported="false" />
        <activity
            android:name=".viewholderInvitation"
            android:exported="false" />
        <activity
            android:name=".progressLayout"
            android:exported="false" />
        <activity
            android:name=".activityUploadProfilePicture"
            android:exported="false" />
        <activity
            android:name=".MainActivity8"
            android:exported="false" />
        <activity
            android:name=".MainActivity6"
            android:exported="false" />
        <activity
            android:name=".MainActivity7"
            android:exported="false" />
        <activity
            android:name=".activitySignUpCommeUnConsultant"
            android:exported="false" />
        <activity
            android:name=".activitySignUpCommeUnClient"
            android:exported="false" />
        <activity
            android:name=".activitySignUpCommeunAvocat"
            android:exported="false" />
        <activity
            android:name=".activitySendInvitation"
            android:exported="false" />
        <activity
            android:name=".activityListOfLawyers"
            android:exported="false" />
        <activity
            android:name=".activityInvitationsReceived"
            android:exported="false" />
        <activity
            android:name=".consultantMain"
            android:exported="false" />
        <activity
            android:name=".activityLawyersDetails"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".activityClientMain"
            android:exported="false" />
        <activity
            android:name=".dashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity5"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>